// Header
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 100;
  background-color: $color-primary;
  &__logo {
    border-radius: 10px;
  }
  &__link {
    height: 100%;
  }
}

// Nav
.nav {
  &__hamburger {
    @media screen and (min-width: 769px) {
      display: none;
    }
  }
  &__checkbox {
    display: none;
  }
  &__container {
    @media screen and (max-width: 768px) {
      position: absolute;
      padding: 20px;
      right: 0;
      background-color: $color-primary;
      display: flex;
      flex-direction: column;
      transform: scaleY(0);
      transition: transform 0.2s;
      transform-origin: top;
    }
  }
  #menu-toggle:checked + &__container {
    transform: scaleY(1);
  }
  &__link {
    position: relative;
    @media screen and (max-width: 768px) {
      transition: all 0s;
    }
    &:not(:last-child) {
      @media screen and (min-width: 769px) {
        margin-right: 16px;
      }
      @media screen and (max-width: 768px) {
        margin-bottom: 16px;
      }
    }
  }
}

// Content
.content {
  padding-top: 90px;
  margin-bottom: 40px;
  @media screen and (min-width: 769px) {
    display: flex;
  }
  &__details {
    @media screen and (min-width: 769px) {
      display: flex;
    }
  }
  &__left {
    flex: 1 1 66.7%;
    margin-right: 5px;
  }
  &__right {
    margin-left: 5px;
    flex: 1 1 33.3%;
  }
  &__bottom {
    @media screen and (max-width: 768px) {
      display: flex;
      align-items: stretch;
    }
  }
  &__links {
    &--left {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }
    &--left,
    &--right {
      @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        flex: 1 1 50%;
        gap: 0;
      }
    }
  }
  &__link {
    &--left,
    &--right {
      margin-bottom: 10px;
      @media screen and (max-width: 768px) {
        height: 100%;
        display: flex;
      }
    }
    &--left {
      @media screen and (min-width: 769px) {
        display: block;
      }
      @media screen and (max-width: 768px) {
        margin-right: 10px;
        flex-direction: column;
      }
    }
    &--right {
      @media screen and (min-width: 769px) {
        display: block;
      }

      @media screen and (max-width: 768px) {
        align-items: center;
        justify-content: space-between;
      }
    }
  }
  &__img {
    &--left {
      max-height: 300px;
      width: 100%;
      height: auto;
    }
    &--right {
      @media screen and (min-width: 769px) {
        margin-right: 15px;
        max-width: 90px;
        max-height: 120px;
      }
    }
  }
  .hero {
    position: relative;
    margin-bottom: 10px;
    display: block;
    &__title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
    &__img {
      width: 100%;
    }
  }
}

// Font changer
.font-changer {
  height: 120px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid $border-color;
  &__text {
    display: inline-block;
    margin-right: 10px;
  }
  &__close {
    position: absolute;
    right: 9px;
    top: 7px;
    cursor: pointer;
  }
  &__controls {
    margin-right: 20px;
    position: relative;
  }
  &__button {
    width: 2rem;
    height: 2rem;
    margin-right: 10px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid $border-color;
    border-radius: 5px;
    color: $color-secondary;
    font-size: 1rem;
    transition: all 0.2s;
    position: relative;
  }
  &__limit {
    position: absolute;
    right: 10px;
    bottom: -1.5rem;
  }
}

// Footer
.footer {
  margin-top: auto;
  text-align: center;
}
