// Header
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 100;
  background-color: $color-primary;
  border-bottom: 1px solid $color-primary;
  transition: $transition-timing;
  &__logo {
    border-radius: 10px;
  }
  &__link {
    height: 100%;
  }
  &--scrolled {
    border-color: $border-color;
    height: 60px;
  }
}

// Nav
.nav {
  &__hamburger {
    @media screen and (min-width: 769px) {
      display: none;
    }
  }
  &__checkbox {
    display: none;
  }
  &__container {
    @media screen and (max-width: 768px) {
      position: absolute;
      padding: 20px;
      right: 0;
      background-color: $color-primary;
      display: flex;
      flex-direction: column;
      transform: scaleY(0);
      transition: transform 0.2s;
      transform-origin: top;
    }
  }
  #menu-toggle:checked + &__container {
    transform: scaleY(1);
  }
  &__link {
    position: relative;
    @media screen and (max-width: 768px) {
      transition: all 0s;
    }
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $color-secondary;
      left: 0;
      bottom: -3px;
      transform: scaleX(0);
      transform-origin: left;
      transition: $transition-timing;
    }
    &:hover {
      &::after {
        transform: scaleX(1);
      }
    }
    &:not(:last-child) {
      @media screen and (min-width: 769px) {
        margin-right: 16px;
      }
      @media screen and (max-width: 768px) {
        margin-bottom: 16px;
      }
    }
  }
}

// Content
.content {
  padding-top: 90px;
  margin-bottom: 40px;
  @media screen and (min-width: 769px) {
    display: flex;
  }
  &__details {
    @media screen and (min-width: 769px) {
      display: flex;
    }
  }
  &__left {
    flex: 1 1 66.7%;
    margin-right: 5px;
  }
  &__right {
    margin-left: 5px;
    flex: 1 1 33.3%;
  }
  &__bottom {
    @media screen and (max-width: 768px) {
      display: flex;
      align-items: stretch;
    }
  }
  &__links {
    &--left,
    &--right {
      @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        flex: 1 1 50%;
      }
    }
  }
  &__link {
    &:hover {
      border-color: $color-secondary;
    }
    &--left,
    &--right {
      margin-bottom: 10px;
      @media screen and (max-width: 768px) {
        height: 100%;
        display: flex;
      }
    }
    &--left {
      @media screen and (min-width: 769px) {
        display: block;
        &:hover {
          .content__img--left {
            filter: grayscale(0) blur(0);
          }
        }
      }
      @media screen and (max-width: 768px) {
        margin-right: 10px;
        flex-direction: column;
        .content__title {
          margin: auto 0;
        }
      }
    }
    &--right {
      @media screen and (min-width: 769px) {
        display: block;
        &:hover {
          .content__img--right {
            filter: sepia(0);
          }
        }
      }

      @media screen and (max-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
  &__img {
    &--left {
      max-height: 300px;
      width: 100%;
      @media screen and (min-width: 769px) {
        transition: $transition-timing;
        filter: grayscale(100) blur(2px);
      }
      @media screen and (max-width: 768px) {
        height: 50%;
      }
    }
    &--right {
      @media screen and (min-width: 769px) {
        margin-right: 15px;
        max-width: 90px;
        max-height: 120px;
        filter: sepia(100);
        transition: $transition-timing;
        border-radius: 10px;
      }
    }
  }
  .hero {
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 10px;
    &__title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
    &__img {
      width: 100%;
      @media screen and (min-width: 769px) {
        transform: scale(1.1);
        transition: $transition-timing;
        &:hover {
          transform: scale(1);
        }
      }
    }
  }
}

// Font changer
.font-changer {
  height: 120px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  &__text {
    display: inline-block;
    margin-right: 10px;
  }
  &__close {
    position: absolute;
    right: 9px;
    top: 7px;
    cursor: pointer;
  }
  &__controls {
    margin-right: 20px;
    position: relative;
  }
  &__button {
    width: 2rem;
    height: 2rem;
    margin-right: 10px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid $border-color;
    border-radius: 5px;
    color: $color-secondary;
    font-size: 1rem;
    transition: all 0.2s;
    position: relative;
    &:hover {
      box-shadow: 0px 0px 3px 1px #000000;
    }
  }
  &__limit {
    position: absolute;
    right: 10px;
    bottom: -1.5rem;
  }
}

// Footer
.footer {
  margin-top: auto;
  text-align: center;
}
